$rem-base: 16px;

$base-font-size: 100%;

// $base-line-height is 24px while $base-font-size is 16px
$base-line-height: 1.5;

$base-font-family: Georgia,Cambria,"Times New Roman",Times,serif;
$base-font-secondary: Arial, 'Helvetica Neue', Helvetica, sans-serif;