// Meaning Colors
$color-positive: $color-best;
$color-negative: $color-worst;

// UI Colors

// Fonts
$font-color: $color-neutral-heaviest;

// Divider
$color-divider: $color-neutral-light;

// Anchor
$anchor-color: $color-primary;
$anchor-color-hover: $color-primary-heavy;

// Block quotes
// TODO

// Code block
// TODO

// Headers
// TODO
